.fb-like-box {
	float: right;
	position:relative;
	overflow:hidden
}

.container_24 .grid_12 {
	width: 960px
}

/* error validation form */
.error-message {
	display: block;
	color: #c0392b;
	font-size: 12px;
	margin-top: 5px;
	font-style: italic;
}