#slides {
	position:relative;
	top:15px;
	max-width: 960px;
	width: 100%;
	height: auto;
	z-index:100;
	margin: 0 auto;
}

.slides_container {
	position:relative;
	overflow:hidden;
	width: 100%;
}

#slides .next, #slides .prev {
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	left:5px;
	display:block;
	width:25px;
	height:40px;
	background:url(../images/slider_arrows.png) -25px 0 no-repeat;
	overflow:hidden;
	text-indent:-200px;
	z-index:101;
}

#slides .next {
	left: auto;
	right: 5px;
	background:url(../images/slider_arrows.png) 0 0 no-repeat;
}

.paginationBody {
	position:absolute;
	top:320px;
	right:55px;
	z-index:505;
	height:12px;}
	
.pagination {
	float:right
}

.pagination li {
	display: block;
	float:left;
	margin:0 3px;
	list-style:none;
}

.pagination li a {
	float:left;
	display:block;
	width:10px;
	height:11px;
	background-image:url(../images/slider_pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
	text-indent:-300px;
	text-align:left	
}

.pagination li.current a {
	background-position:0 -11px;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:auto;
	min-height:66px;
	width:100%;
	max-width:960px;
	padding:15px 20px;
	background:url(../images/point.png);	
	line-height:1.33;
	box-sizing: border-box;
}
